<div class="content">
<p class="paragraph">
  <span style="font-family: 'Rajdhani', sans-serif; font-weight: 600; font-size: 25px;">About Me</span><br><br>
  <img src="./assets/me.png" alt="Me" style="width:150px;height:200px;" /><br><br>
  I graduated from the University of Texas at Dallas in May, 2017.<br>
  Since then, I have been interning at Luminator Technology Group.<br>
  Outside of work, I've begun working on a couple of projects...<br>
  and indulging in a number of hobbies.<br><br>
  
  I love to learn and work best in challenging environments. I <br>
  would like to find a job where I can further develop my skills<br>
  as a software engineer.<br>
</p>
</div>