<div class="content">
<p class="paragraph">
  <span style="font-family: 'Merriweather', serif; font-weight: 600; font-size: 25px;">
  Experience
  </span><br><br>
  <span style="text-decoration: underline">LUMINATOR TECHNOLOGY GROUP (May, 2017 - Present)</span><br>
  Luminator is a company that produces technology for mass transit (bus, rail, and air). <br>
  Their technology includes standalone units as well as systems that integrate embedded <br>
  software and web applications. The workflow is moving towards being test-driven (Agile).<br>
  <br>

  My primary role as an intern has been software testing, and I have worked with nearly <br>
  all of the products the company currently produces. As a result, I have been exposed to<br>
  each of the different areas of software engineering in this company. Below, I highlight<br>
  some of the most valuable experiences I gained while working for this company.<br>
  <br>
  
  <span style="text-decoration: underline">AUTOMATION</span><br>
  I began exploring automated testing using Selenium Webdriver and Java by automating the<br>
  basic functionality of an existing web application. After learning the basics, I created<br>
  an entire testing environment in C# using .NET framework and implemented the Page Objects<br>
  model. My appreciation for object oriented programming grew immensely as I developed the<br> 
  testing environment.<br>
  <br>

  <span style="text-decoration: underline">EMBEDDED SYSTEMS</span><br>
  My exposure to embedded systems has been quite thorough. I work closely with developers to<br>
  to test proprietary technology. I also spend a considerable amount of time working to test<br>
  the integration of that technology with existing and new hardware. I have begun familiarizing<br>
  myself with basic Linux CLI commands and have become comfortable with the operating system.<br>
  <br>
</p>
</div>