<div class="content">
<p class="paragraph">
<span style="font-family: 'Merriweather', serif; font-weight: 600; font-size: 25px;">
Projects
</span><br><br>

<span style="text-decoration: underline">WEB</span><br>
This is a website that I originally designed using Sketch<br>
and Webflow. I then brought it to life using the following<br>
tools: HTML, CSS, AngularJS, TypeScript, and Node.JS.<br><br>

<span style="text-decoration: underline">MOBILE</span><br>
"Plate Calculator" is an IOS application I designed in XCode and<br>
am coding using Swift. The objective of this application is to <br>
calculate the number of plates needed to reach a certain weight<br>
on a barbell.<br><br>

<span style="text-decoration: underline">AUTOMATION</span><br>
This program was written in C# using Selenium Webdriver.<br>
The objective is to navigate to a website, perform a number of common<br>
test-related functions, store data, and log meaningful output.<br><br>

</p>
</div>