<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Taimore Khan</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" 
  rel="stylesheet" media="screen"/>
</head>

<body>
<app-header></app-header>
<app-navigation></app-navigation>
    <router-outlet></router-outlet>
<app-footie></app-footie>
</body>
</html>