<div class="footie">
    <a class="navLink" href="https://www.facebook.com/taimore.khan?"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
    <a class="navLink" href="mailto:khan.taimore@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
    <a class="navLink" href="https://www.linkedin.com/in/taimore-khan-55590a135/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    <a class="navLink" href="https://github.com/tk3413/"><i class="fa fa-github-square" aria-hidden="true"></i></a>
</div>